################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/UnzipTest/v16
/MFCApp/MFCApp.vcxproj.user
/MFCApp/MFCApp.vcxproj.filters
/Debug
/MFCApp/Debug
/UnzipNetFrm/obj/Debug
/Modules
/UnzipNetFrm/bin/Debug
/MFCApp/Release
/Release
/Unzip
/UnzipNetFrm/bin/Release
/UnzipNetFrm/obj/Release
/Zip
